<!-- START BREADCRUMB -->
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/employees">Employees</a></li>
  <li><%= @current_user.full_name %></li>    
  <li>Change Password</li>           
</ul>
<!-- END BREADCRUMB --> 

<!-- START TITLE -->
<div class="page-title">                    
    <h2><span class="fa fa-key"></span> Change Password</h2>
</div>
<!-- END TITLE -->

<ul>
  <li>Must be between 6 and 12 characters in length.</li>
  <li>Can consist of uppercase and lowercase letters</li>
  <li>Can consist of numbers</li>
  <li>Can consist of characters: ! @ # $ % ^ & *</li>
</ul>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default panel-body">
      <div class = "form-container">

        <%= form_tag :action => 'change_password_finish', class: 'form-control' do %>

        <p><label for = "">Old Password:</label>
          <%= password_field :change, :old, class: 'form-control' %></p>

        <p><label for = "">New Password:</label>
          <%= password_field :change, :new1, class: 'form-control' %></p>

        <p><label for = "">Retype Password:</label>
          <%= password_field :change, :new2, class: 'form-control' %></p>

          <%= submit_tag 'Submit', class: 'btn btn-primary' %>
         <% end %>
      </div>
    </div>
  </div>
</div>