<% content_for :title, "Change Password" %>
<div class="login-container animated fadeInDown" id="snow">

  <div class="login-box">
    <div class="login-logo"> <img src="/images/pennicon.jpg" ></div>
    <div class="login-body">
      <div class="login-title"><strong>Reset</strong><p class="pull-right">#<%= @employee.IDnum %></p></div>
      <div class="form-group">
      	<%= form_tag '', :action => 'reset_perform', method: :post do %>
        <div class="col-xl-12">
          <%= password_field :change, :new1, class: 'form-control', placeholder: "New Password" %>
        </div>
        <br/>
        <div class="col-xl-12">
          <%= password_field :change, :new2, class: 'form-control', placeholder: "Re-type Password" %>
        </div>
        <br/>
        <div class="col-xl-12">
        <% hidden_field :key, value: params[:key] %>
          <%= submit_tag 'Change Password', id: 'reset_password', class: 'btn btn-primary btn-block' %>
        </div>
        <% end %>
      </div>
      
    </div>
    <div class="login-footer">
      <div class="pull-left">
        &copy; 2017 Penn National Gaming
      </div>
      <div class="pull-right">
        <%= link_to "Reset Password", controller: :employees, action: :reset_password %>
      </div>
    </div>
  </div>

</div>
    